.table-container {
    text-align: center;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td {
    padding: 20px;
    border: 7px solid white;
    background-color:gainsboro;
}
